html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  width: 100%;
  max-width: 100%;

  &.lazyLoad {
    transition: .024s;
    opacity: 0;

    &.isLoaded {
      opacity: 1;
    }
  }
}

body {
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
  font-size: 36px;
  font-weight: 400;

  @media (min-width: 1350px) {
    font-size: 42px;
  }
}

strong,
b {
  font-family: $font-bold;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: $container-width;
  padding-right: $container-padding--mobile;
  padding-left: $container-padding--mobile;
  margin: 0 auto;

  @media (min-width: 768px) {
    padding-right: $container-padding;
    padding-left: $container-padding;
  }
}

.nav {
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99999;
  width: 100%;
  max-width: $container-width;
  text-align: right;
  pointer-events: none;
  padding: 0 10px;
  font-size: 22px !important;

  a {
    pointer-events: auto;
  }

  @media (max-width: 768px) {
    .logo,
    .wrapper-inner > div {
      font-size: 22px !important;
    }
  }

  @media (min-width: 768px) {
    padding: 5px $container-padding 0;
    margin-top: -5px;
    font-size: inherit;
  }
}

.arrow--back {
  position: relative;

  @media (min-width: 768px) {
    &:hover {
      svg {
        display: block;
      }
    }
  }

  svg {
    display: none;
    position: absolute;
    top: 50%;
    left: -52px;
    transform: translateY(calc(-50% - 3px)) scale(1.1);
    height: 50%;
  }
}

.arrows--links {
  a {
    position: relative;

    svg {
      display: none;
      position: absolute;
      top: -17px;
      right: -35px;
      transform: rotate(135deg) scale(1.1);
      height: 50%;
    }

    @media(min-width: 768px) {
      &:hover svg {
        display: block;
      }
    }

  }
}

.arrow--next {
  position: relative;

  @media (min-width: 768px) {
    &:hover {
      svg {
        display: block;
      }
    }
  }

  svg {
    display: none;
    position: absolute;
    top: 50%;
    right: -47px;
    transform: translateY(calc(-50% - 3px)) scale(1.1) rotate(180deg);
    height: 50%;
  }
}