html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  width: 100%;
  max-width: 100%;

  &.lazyLoad {
    transition: .024s;
    opacity: 0;

    &.isLoaded {
      opacity: 1;
    }
  }
}

body {
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
  font-size: 36px;
  font-weight: 400;

  @media (min-width: 1350px) {
    font-size: 42px;
  }
}

strong,
b {
  font-family: $font-bold;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: $container-width;
  padding-right: $container-padding--mobile;
  padding-left: $container-padding--mobile;
  margin: 0 auto;

  @media (min-width: 768px) {
    padding-right: $container-padding;
    padding-left: $container-padding;
  }
}

.nav {
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99999;
  width: 100%;
  max-width: $container-width;
  text-align: right;
  pointer-events: none;
  padding: 0 10px;
  font-size: 22px;

  a {
    pointer-events: auto;
  }

  @media (min-width: 768px) {
    padding: 0 $container-padding;
    font-size: inherit;
  }
}

.wrapper-inner--arrow {
  position: relative;

  @media (min-width: 768px) {
    &:hover {
      span {
        // opacity: 0;
      }

      svg {
        display: block;
      }
    }
  }

  svg {
    position: absolute;
    top: -59px;
    left: -89px;
    transform: rotate(180deg) scale(0.74);
    width: 234px;
    height: 151px;
    display: none;

    @media (min-width: 1350px) {
      transform: rotate(180deg) scale(0.85);
      left: -83px;
    }
  }
}

.arrows-main {
  a {
    position: relative;

    svg {
      display: none;
      position: absolute;
      top: -88px;
      right: -142px;
      transform: scale(0.16) rotate(-45deg);
      width: 240px;
      height: 160px;
    }

    @media(min-width: 768px) {
      &:hover svg {
        display: block;
      }
    }

  }
}