html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  width: 100%;
  max-width: 100%;

  &.lazyLoad {
    transition: .024s;
    opacity: 0;

    &.isLoaded {
      opacity: 1;
    }
  }
}

body {
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
  font-size: 36px;
  font-weight: 400;
}

strong,
b {
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: $container-width;
  padding-right: $container-padding;
  padding-left: $container-padding;
  margin: 0 auto;
}

.nav {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99999;
  width: 100%;
  max-width: $container-width;
  text-align: right;
  font-weight: 600;
  pointer-events: none;
  padding: 0 $container-padding;
  text-transform: uppercase;

  a {
    pointer-events: auto;
  }

  @media(min-width: 879px) {
    top: 80px;
  }
}

.wrapper-inner--arrow {
  position: relative;

  &:hover {
    span {
      opacity: 0;
    }

    svg {
      display: block;
    }
  }

  svg {
      position: absolute;
      top: -59px;
      left: -89px;
      transform: rotate(180deg) scale(0.74);
      width: 234px;
      height: 151px;
      display: none;
  }
}

.arrows-main {
  a {
    position: relative;

    svg {
      display: none;
      position: absolute;
      top: -88px;
      right: -142px;
      transform: scale(0.16) rotate(-45deg);
      width: 240px;
      height: 160px;
    }

    &:hover svg {
      display: block;
    }
  }
}